.Single-item-details{
    width: 28vw;
    padding: 2rem 1rem;
    margin:0 24vw;
    min-height: 80vh;

    border: 2px solid gainsboro;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Single-item-details img{
   width:28vw;
   height:27vw;
   border-radius: 2px;
}

.Single-item-details h2{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


