/* .shoppingcart{
    border:2px;
    border-color: black;
    width:"58vw";
    height:'55vh';
    background-Color:'green';
} */


.check-out-items{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 52vw;
    height: 7vh;
    margin: 1vw;
    background-color: white;
    border-bottom: 2px solid #DCDCDC;
}


.check-out-items:first-child{
    padding-top: 1vh;
}


.check-out-items img{
    width: 6vh;
    height: 6vh;
    background-color: lightskyblue;
    margin: 0.5 10vw;

}


.check-out-items div{
    width: 10vw;
}

.ShoppingCart-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 50vh;
    min-width: 53vw;
    border: 2px solid gainsboro;
    margin-left: 1.4rem;

}

.check-out-final{
    background-Color:'white';
    margin-Left:1vw;
    width:23vw;
    height:60vh; 
   border:2px solid gainsboro;
   display:flex;
   flex-direction: column;
}

.check-out-final h5{
    padding-top: 15vh;
    justify-self: center;
    align-self: center;
}

.buy-btn-final{
    padding: 0.5vh;
    margin-left: 10rem;
    position: absolute;
    bottom:180px;
}
