.AddForm {
    display:flex;
    flex-direction: column;
    justify-content:center; 
    width:30vw;
    margin:8vh 21.5vw;
    border-radius:6px; 
    border:2px solid #e7e5e5;
    background-color:white; 
    padding:3vw
}
.AddForm input{

border: 2px solid #e7e5e5;
border-radius: 3px;
/* padding: 2px; */
margin: 2vh
}

.buttonadditem{
    width: 10vw;
    height: 26px;
    background-color: white;
    border: 2px solid #308EFD;
    color:#308EFD;
    border-radius: 7px;
    margin:3vh 9.5vw;
    
   
}

.buttonadditem:hover{
     background-color: #4CAF50; /* Green */
    color: white;
    border:#4CAF50;
}